[submodule "etl"]
	path = etl
	url = https://github.com/ETLCPP/etl.git
[submodule "unittest-cpp"]
	path = unittest-cpp
	url = https://github.com/unittest-cpp/unittest-cpp.git
[submodule "comms_champion"]
	path = comms_champion
	url = git@github.com:arobenko/comms_champion.git
